* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head, .navs{
    position: relative;
    z-index: 1;
    color: #fff;
}

.nav{
    width: 75%;
    margin: auto;
    color: #fff;
}

#navs{
    background-color: red;
}
.caption{
    color: #fff;
    margin-bottom: 12rem;
    
}
.container{
    color: #fff;
}





