

.nav{
    width: 55%;
    margin: auto;
    color:white !important;
}

.sliderImage{
    
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.slides{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.head{
    position: relative;
    z-index: 1;
    color: #fff;
}

@media screen and (max-width: 576px) {
    body {
      background-color: blue;
    }
  }