* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    width: 75%;
    margin: auto;
    color: #fff;
}

.caption{
    color: #fff;
    margin-bottom: 12rem;
    
}

.cardHead {
    width: 80%;
    margin: auto;
}

.mainslide{
    position: absolute;
}
.cardHead {
    position: relative;
    bottom: 10rem;
    width: 80%;
    margin: auto;
    cursor: pointer;
}

.box:hover{
    background-color: red;
    transition: .5s;
}
.box{
    height: 13rem;
    width:12rem;
}
.box1, .box3{
    background-color: #fff;
}
.box2, .box4{
    background-color: red;
}
.about{
    width: 80%;
    margin: auto;
}
.aboutSection{
    padding-right: 0px;
}
.academicUnit{
    width: 100%;
    background-color: gray;
    height: 350px;
    padding: 2rem 0;
}
.academic{
    width: 80%;
    margin: auto;
}
.unit{
    width: 270px;
    height: 140px;
    border: 1px solid #000;
    padding: 30px;
    color: red;
    margin-top: 2rem;
}
.unit:hover{
    background-color: red;
    color: #fff;
    transition: .5s;
}
.cardName{
    width:18rem;
    height: 15rem;
    background-color: red;
}


@media screen and (max-width: 600px) {
    .head {

      width: 90%;
      margin: auto;
    }
    .text {
        display: none;
    }
    .box{
        width: 200px;
        height: 200px;
    }
    .box1, .box4{
        background-color: red;
    }
    .box2, .box3{
        background-color: #fff;
    }
    .unit{
        width: 200px;
        height: 120px;
        padding: 30px;
        margin-top: 1rem;
    }
    .academic{
        width: 90%;
        margin: auto;
    }
    .academicUnit{
        height: 400px;
        
    }
   
  }





